*{
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 32px;
}

#view {
  width: 672px;
  height: 80px;
  text-align: center;
  background-color: #0b9cb3;
  padding: 8px 0;
}

form {
  margin-left: 296px;
}

input {
  width: 150px;
  height: 100px;
  font-size: 75px;
  border-radius: 16px;
  background-color: #333;
  color: #fff;
  border-style: none;
  margin: 10px;
}

input:hover {
  cursor: pointer;
}

#plus{
  background-color: green;
}

#minus{
  background-color: orange;
}

#multi{
  background-color: purple;
}

#equal{
  background-color: blueviolet;
}

#clear {
  background-color: rgb(231, 80, 80);
}
